.toy-preview {
    .img-container {
        height: 200px;
        display: flex;
        align-items: center;
        padding-top: 2em;
    }

    .preview-labels {
        list-style: none;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        gap: 0.5em;
        padding: 0;
        margin-bottom: 0.5em;
        flex-wrap: wrap;
    }
}